.DS_Store
Deboogey.xcodeproj/project.xcworkspace/xcuserdata/theoderoy.xcuserdatad/IDEFindNavigatorScopes.plist
Deboogey.xcodeproj/project.xcworkspace/xcuserdata/theoderoy.xcuserdatad/UserInterfaceState.xcuserstate
Deboogey/.DS_Store
Deboogey/Assets.xcassets/.DS_Store
Deboogey/Resources/.DS_Store
